body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-body {
    min-height: 800px;
    min-width: 600px;
    max-width: 600px;
    max-height: 800px;
    padding: 3%;
    padding-bottom: 0px;
    background-image: linear-gradient(to right, darkgray, gray);
    box-shadow: 10px 10px 50px gray;
    border-radius: 20px;
    border: 7px outset black;
}

#display input {
    text-align: right;
    background-color: lightblue;
    height: 100%;
    width: 100%;
    padding-right: 40px;
    border: 7px inset black;
    border-radius: 10px;
    box-shadow: 5px 5px 30px inset black;
    font-size: 60px;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    margin-bottom: 6vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    height: 62vh;
}

#equals {
    grid-column: 1 / span 3;
}

button {
    border-radius: 10px;
    border-width: 2px;
    font-size: 200%;
    border: 3px outset black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    background-color: lightgreen;
    height: 100px;
}

button:active {
    transform: scale(0.9);
}

.num {
    background-color: lightsteelblue;
}

#ce {
    background-color: lightcoral;
}

img {
    max-height: 30px;
}