body {
    background-color: black;
}

div {
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 75px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

img {
    border: 5px solid white;
    width: 100%;
}

p {
    padding-bottom: 100px;
}

h1 {
    text-transform: uppercase;
}